@model FSPE.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input-label {
        font-size: 16px;
    }

    .amount-wrapper {
        font-size: 16px;
        font-weight: bold;
        color: green;
    }

    .bt-drop-in-wrapper {
        width: 100%;
        border: 1px solid gray;
        padding: 10px;
        border-radius: 15px;
    }
</style>
<div class="wrapper">
    <div class="checkout container">

        <header>
            <h1>Checkout</h1>
            <p>
                Please make a payment with PayPal or credit card
            </p>
        </header>
        @if (TempData["Flash"] != null)
        {
            <br />
            <p style="font-size:18px;color: red;" >There was a problem processing your payment.  <br/>Please re-enter your payment details and try again.</p>
        }
        <form id="payment-form" method="post" action="/checkout/create">
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
                <label for="amount">
                    <span class="input-label">Total Charge:</span>
                    <span class="input-wrapper amount-wrapper">
                        @Model.Total.ToString("c")
                    </span>
                </label>
            </section>
            
            <br />
            <button class="btn btn-primary" type="submit"><span>Make Payment</span></button>
        </form>
        <br />
        <p>If you were given a coupon code, please enter it below.</p>
        <form method="post" action="/checkout/coupon">
            <div class="form-group">
                <label for="couponCode">
                    Coupon Code:
                    <input type="text" name="couponCode" value="" />
                </label>
                <button class="btn btn-default" type="submit"><span>Apply Coupon</span></button>
            </div>

        </form>
    </div>
</div>
<script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    braintree.setup(client_token, "dropin", {
        container: "bt-dropin"
    });
</script>
