
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .icon img {
        width: 150px;
    }

    .content {
        text-align: center;
        margin: 0 auto;
    }

    .h1 {
        color: forestgreen;
        font-weight: bold;
    }
</style>
<div class="wrapper">
    <div class="response container">
        <div class="content">
            <div class="icon">
                <img src="@Url.Content(String.Format("/Content/{0}.png", TempData["icon"]))" alt="">
            </div>

            <h1>@TempData["header"].ToString()</h1>
            <section>
                <p>@TempData["message"].ToString()</p>
            </section>

            @if (TempData["icon"].ToString() == "fail")
            {
            <section>
                @Html.ActionLink("Try Again", "New", "Checkout", null, new { @class="btn btn-primary"})
            </section>
            }
        </div>
    </div>
</div>




