@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>The Friends of San Pablo was established as a Not for Profit organization to provide financial support to San Pablo Elementary.</p>

<p>There are numerous school improvements that would benefit the faculty and students; however, the shortfall in public school funding in the state of Florida provided a challenge.  Therefore, the Friends of San Pablo was created for the sole purpose of raising revenue to 'gift' to the school in order to purchase items such as new technology, supplies, instructional materials and more.</p>
