@{
    ViewBag.Title = "Contact";
}

<br />
<p><img height="200px" src="~/Content/contact-us.png"</p>

<h3>Friends Of San Pablo</h3>

<address>
    One Redbud Lane<br />
    Pensacola Beach, FL 32519<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>