@{
    ViewBag.Title = "Contact";
}

<br />
<p><img height="200px" src="~/Content/contact-us.png"</p>

<h3>Friends Of San Pablo</h3>

<address>
    801 18th Ave North<br />
    Jacksonville Beach, FL 32250<br />
</address>

<address>
    For inquiries, contact:<br />
    Darlene Strickland<br />
    <a href="mailto:darlene.m.strickland@gmail.com">darlene.m.strickland@gmail.com</a><br />
    904-402-2685
</address>