
@{
    ViewBag.Title = "Donate";
}

<br />
<p><img height="200px" src="~/Content/donate.png"</p>

<p>The Friends of San Pablo Elementary is a Non-Profit organization that supports our school, faculty and students through private donations and community business support.</p>
<p>If you are interested in donating to our cause, please contact us at donate@friendsofsanpablo.com</p>

